*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body
{
    min-height: 100vh;
    display: flex;
}
svg{
    fill: #F1F1D3;
}
.content
{
    flex: 1;
    display: flex;
    flex-direction: column;
}
header
{
    background-color: #9FCDA8;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
header .titre
{
    font-size: 28px;
    font-weight: bold;
    color: #F1F1D3;
    width: 300px;
    padding-left: 30px;
}
header .menu_nom
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #F1F1D3;
}
.container
{
    flex: 1;
    background-color: #F1F1D3;
    display: flex;
}
.sidebar
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #7DC2A5;
    height: 100%;
    width: 300px;
    gap: 40px;
    padding: 30px;
    color: #F1F1D3;
    font-size: 1rem;
    font-weight: 600;
}
.sidebar_projects
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projects_section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar_projects.vide
{
    gap: 10px;
}
.projects_section svg
{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.projects_section svg:hover
{
    transform: translateY(-1px);
}

.btnAdd#btnAdd
{
    box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.3),
    0 4px 8px rgba(0, 0, 0, 0.2);
}
.btnAdd.hide
{
    display: none;
}
.btnAdd
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.btnAdd svg
{
    min-height: 30px;
    min-width: 30px;
}
dialog
{
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 900px;
    height: 400px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}
.dialog_box
{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 900px;
}
.form_titre
{
    background-color: #7DC2A5;
    color: #F1F1D3;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}
form
{
    flex: 1;
    background-color: #F1F1D3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
form input
{
    border: none;
    outline: none;
    background-color: #F1F1D3;
    padding: 5px;
    height: auto;
    width: 100%;
}
form textarea
{
    border: none;
    outline: none;
    background-color: #F1F1D3;
    padding: 5px;
    flex: 1;
    resize: none;
}
.nom_tache input
{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
.complement_tache
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.conteneur_complement
{
    display: flex;
    gap: 30px;
}
select
{
    width: 140px;
    border: 1px solid black;
    background-color: #F1F1D3;
    background-clip: padding-box;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
}
.date_tache
{
    width: 140px;
    border: 1px solid black;
    background-color: #F1F1D3;
    background-clip: padding-box;
    border-radius: 5px;
    padding: 5px;
}
.priorite_tache
{
    display: flex;
    gap: 30px;
}
.priorite_tache > *
{
    display: flex;
    justify-content: center;
}
input[type="radio"]
{
    display: none;
}
.low_option
{
    display: inline-block;
    padding: 5px 10px;
    background: #F1F1D3;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    color: green;
}
input[type="radio"]:checked + .low_option
{
    background-color: green;
    color: white;
}
input[type="radio"]:hover + .low_option
{
    background-color: green;
    color: white;
}
.medium_option
{
    display: inline-block;
    padding: 5px 10px;
    background: #F1F1D3;
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
    color: orange;
}
input[type="radio"]:checked + .medium_option
{
    background-color: orange;
    color: white;
}
input[type="radio"]:hover + .medium_option
{
    background-color: orange;
    color: white;
}
.hard_option
{
    display: inline-block;
    padding: 5px 10px;
    background: #F1F1D3;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    color: red;
}
input[type="radio"]:checked + .hard_option
{
    background-color: red;
    color: white;
}
input[type="radio"]:hover + .hard_option
{
    background-color: red;
    color: white;
}
.close
{
    position: absolute;
    top: 15px;
    right: 15px;
    max-height: 30px;
    min-height: 30px;
    max-width: 30px;
    max-width: 30px;
    cursor: pointer;
}
dialog svg:active
{
    transform: translateY(1px) scale(0.98);
}
form button.hide{
    display: none;
}
form button.active svg
{
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
}
form button.active
{
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
}
.form_container
{
    flex: 1;
    display: flex;
}
.form_sidebar
{
    width: 150px;
    overflow: hidden;
    background-color: #9FCDA8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #F1F1D3;
}
.underline 
{
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    width: fit-content;
}
.underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F1F1D3;
  transition: width 0.3s ease;
}
.underline:hover::after {
  width: 100%;
}
button, 
.btn {
  background-color: #9FCDA8;         
  color: white;                      
  border: none;                      
  border-radius: 50%;               
  padding: 0.75em 1.5em;             
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 
    background-color 0.2s ease,
    transform 0.15s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

button:hover, 
.btn:hover {
  background-color: #9FCDA8;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

button:active, 
.btn:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
#content
{
    flex: 1;
    padding: 30px;
}
.grille
{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: #E3EBD0;
    color: #4B5943;
    transition: all 0.5s ease;
    border: 1px solid transparent;
}
.item:hover
{
    border: 1px solid #F1F1D3;
}
.item.completed
{
    opacity: 0.5;
    transform: scale(0.95);
}
.item.deleted
{
    opacity: 0.5;
    transform: scale(0.95);
    border: 1px solid red;
}
.item.deleted .nom
{
    text-decoration: line-through;
    color: red;
}
.item.removing{
    opacity: 0;
    transform: translateX(100px) scale(0.8);
}
.item.removingDeleted
{
    opacity: 0;
    transform: translateX(-100px) scale(0.8);
}
.left
{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.left > *
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.details
{
    border: 1px solid #4B5943;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.details:hover
{
    background-color: #4B5943;
    color: #F1F1D3;
}
.right > *
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item svg
{
    height: 20px;
    width: 20px;
    fill: #4B5943;
    cursor: pointer;
}
.item svg:hover
{
    transform: translateY(-1px);
}

input[type="checkbox"].priorite_low {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid green;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  background-color: white;
}

input[type="checkbox"].priorite_low:checked {
  background-color: green; 
  border-color: green;
}
input[type="checkbox"].priorite_low:hover:checked {
  background-color: green; 
  border-color: green;
}

input[type="checkbox"].priorite_low:hover{
  border-color: green;
  background-color: #8BD59E;
}

input[type="checkbox"].priorite_medium {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid orange;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  background-color: white;
}

input[type="checkbox"].priorite_medium:checked {
  background-color: orange; 
  border-color: orange;
}
input[type="checkbox"].priorite_medium:hover:checked {
  background-color: orange; 
  border-color: orange;
}

input[type="checkbox"].priorite_medium:hover{
  border-color: orange;
  background-color: #FEAC82;
}

input[type="checkbox"].priorite_hard {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid red;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  background-color: white;
}

input[type="checkbox"].priorite_hard:checked {
  background-color: red; 
  border-color: red;
}
input[type="checkbox"].priorite_hard:hover:checked {
  background-color: red; 
  border-color: red;
}

input[type="checkbox"].priorite_hard:hover{
  border-color: red;
  background-color: #F79F95;
}

input[type="checkbox"]:checked::after {
  content: '✓';
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:hover::after {
  content: '✓';
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#details_tache
{
    height: 300px;
    width: 600px;
    background-color: #F1F1D3;
}
.details_box
{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 600px;
}
.details_titre
{
    background-color: #7DC2A5;
    color: #F1F1D3;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}
.details_container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #4B5943;
    gap: 30px;
}
.details_nom
{
    font-size: 20px;
    font-weight: bold;
}
.details_complements
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modification_tache 
{
    width: 750px;
}
#modification_tache .dialog_box
{
    width: 750px;
}
.jour_grille
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
}
.jour_container
{
    border-radius: 10px;
    padding: 20px;
    height: 315px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #4B5943;
}
.jour
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.tache_conteneur
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box_jour
{
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: #E3EBD0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
}
.box_jour:hover
{
    border: 1px solid #F1F1D3;
}

.box_jour.completed {
    opacity: 0.5;
    transform: scale(0.95);
}

.box_jour.removing {
    opacity: 0;
    transform: translateX(100px) scale(0.8);
}

.sidebar_projects_items
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#nom_projet
{
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #F1F1D3;
    color: #4B5943;
    position: relative;
}
.creation_projet
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#btnCreaProjet.hide{
    display: none;
}
#btnCreaProjet.active
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 11px;
    height: 37px;
    width: 37px;
    box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.3),
    0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 
    background-color 0.2s ease,
    transform 0.15s ease,
    box-shadow 0.2s ease;
}
#btnCreaProjet:hover
{
    transform: translateY(-2px);
}
#btnCreaProjet:active
{
    transform: translateY(1px) scale(0.98);
}
#btnCreaProjet svg
{
    min-height: 10px;
    min-width: 10px;
}
.cache{
    display: none;
}
.projet_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4B5943;
    transition: all 0.5s ease;
}
.projet_item.deleted{
    opacity: 0.5;
    transform: scale(0.95);
}
.projet_item.removingDeleted{
    opacity: 0;
    transform: translateX(-100px) scale(0.8);
}
.projet_item.deleted .projet_nom
{
    text-decoration: line-through;  
    color: red;
}
.projet_item svg
{
    height: 20px;
    width: 20px;
    fill: #4B5943;
    cursor: pointer;
}
.projet_nom_box
{
    display: flex;
    align-items: center;
    gap: 15px;
}
.projet_nom.underline::after
{
    background-color: #4B5943;
}
.creation_projet #close
{
    position: absolute;
    min-height: 15px;
    min-width: 15px;
    max-width: 15px;
    min-width: 15px;
    top: 0px;
    right: 55px;
    fill: #4B5943;
    z-index: 1;
    cursor: pointer;
}
.retard
{
    color: red;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.retard.underline::after
{
    background-color: red;
}